@model IEnumerable<SistemaParcelas.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de clientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Registrar nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdCliente">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCliente">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a class="btn btn-warning" asp-area="" asp-controller="Ventas" asp-action="Index">Volver a la lista de ventas</a>
</div>
