@model SistemaParcelas.Models.Inventario

@{
    ViewData["Title"] = "Detalles del elemento";
}

<h1>Detalles</h1>

<div>
    <h4>Elemento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCafe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCafe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCafeDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCafeDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalidadCafe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalidadCafe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdParcelaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdParcelaNavigation.IdParcela)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdInventario">Editar</a> |
    <a class="btn btn-warning" asp-action="Index">Volver a la lista</a>
</div>
